.characterBox {
  margin: 2.4rem 0;
}
.characterList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  max-width: 95rem;
  row-gap: 2.4rem;
  margin: 0 auto;
}
