.itemBox {
  display: grid;
  max-width: 40rem;
  grid-template-columns: 0.25fr 1.5fr;
  column-gap: 1.6rem;
  background-color: #ddeef7;

  border-radius: 2rem;
}

.itemContent {
  display: flex;
  padding: 1.2rem;
  position: relative;
  flex-direction: column;
  gap: 0.2rem;
}

.itemContent p {
  font-size: 1.6rem;
}
.itemLink {
  text-decoration: none;
  color: #000000;
  background-color: #ecabb5;
  padding: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 8px;
  position: absolute;
  bottom: 5%;
}
.itemTitle {
  font-size: 1.8rem;
  font-weight: 700;
}
.titleBox {
  display: flex;
  gap: 1.2rem;
  position: relative;
}
.itemImg {
  width: 15rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.itemIcon {
  position: absolute;
  right: 5%;
}
