.navigationBox {
  height: 3.2rem;
  background-color: #abd5ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem;
}
.navigationTitle {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  transition: all 1s;
}
.navigationTitle:hover {
  color: #67808e;
}
.navigationActive {
  color: #67808e;
}
.sectionList {
  display: flex;
  gap: 2.4rem;
}
