.paginationForm {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  position: fixed;
  right: 5%;
  top: 10%;
}
.paginationForm label {
  font-size: 3rem;
}
.paginationForm input {
  font-size: 2.4rem;
}
